#bannerWrap {
    width: auto;
    height: auto;
    text-align: center;
    display: block;
    z-index: 999;
}

.BannerImage {
    display: inline-block;
    position: relative;
    z-index: 998;
}

.BannerImage img {
    overflow: hidden;
}