* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#Info {
    display: block;
    position: relative;
    background-color: #deb887;
    width: 1920px;
    height: 100%;
}

#contents {
    position: relative;
    display: block;
    margin-top: 1125px;
    width: 1920px;
    height: 1080px;
    right: 10px;
    background-color: #ff634700;
    z-index: 1000;
}

.imageWrap {
    display: block;
    position: relative;
    width: 1950px;
    height: 1080px;
    bottom: 1149px;
    z-index: 997;
    overflow: hidden;
}

.textWrap {
    display: inline-block;
    position: relative;
    bottom: 1125px;
    border: 3px solid blue;
    font-size: 24px;
    font-family: 'Black And White Picture', sans-serif;
}

.textKOR {
    display: block;
    position: relative;
    font-size: 28px;
    font-weight: 500;
}

.textENG {
    display: block;
    position: relative;
    font-size: 24px;
    font-weight: 200;
}

.iconWrap {
    display: block;
    position: relative;
    width: 450px;
    height: 500px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: -1140px;
    z-index: 100;
    left: 1200px;
    top: 350px;
    background-color: #b6cdff;
}
.iconWrap > h4 {
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    top: -30px;
}


.icons {
    display: inline-block;
    position: relative;
}

.starbucks {
    display: inline-block;
    position: relative;
    right: 45px;
    bottom: 30px;
}

.starbucks img {
    cursor: pointer;
}

.ediya {
    display: inline-block;
    position: relative;
    bottom: 30px;
}

.ediya img {
    cursor: pointer;
}

.compose {
    display: inline-block;
    position: relative;
    right: 50px;
    top: 10px;
}

.compose img {
    cursor: pointer;
}

.mega {
    display: inline-block;
    position: relative;
    top: 10px;
}

.mega img {
    cursor: pointer;
}

/* @media all and (max-width: 1197px) {
    * {
        margin: 0;
        padding: 0;
    }

    * img {
        width: 100%;
        height: auto;
    }
    
    .imageWrap {
        display: block;
        position: relative;
        width: 1950px;
        height: 1080px;
        bottom: 1149px;
        z-index: 997;
        overflow: hidden;
    }
    
    .textWrap {
        display: inline-block;
        position: relative;
        bottom: 1125px;
        border: 3px solid blue;
        font-size: 24px;
        font-family: 'Black And White Picture', sans-serif;
    }
} */