@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

html {
    background: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    -ms-overflow-style: none; 
} 

::-webkit-scrollbar {
    display: none; 
} 

/* 특정 부분 스크롤바 없애기 */ 

img {
    -ms-overflow-style: none; 
} 

.box::-webkit-scrollbar {
    display: none; 
}

#Home {
    display: block;
    position: fixed;
    background: #c1e3ffef;
    z-index: 10000;
    width: 100%;
    overflow: hidden;
}

header > #logo {
    font-size: 42px;
    font-weight: 400;
    font-family: 'Black And White Picture', sans-serif;
    text-align: left;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    float: left;
}

header .navGroup {
    display: block;
    position: relative;
    float: right;
    left: 280px;
    width: auto;
}

header .navbar {
    clear: both;
    list-style: none;
    top: 5px;
    bottom: 5px;
    right: 450px;
}

.Home {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Home>button>a {
    color: #000000;
    text-decoration: none;
}

.Info {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Info>button>a {
    color: #000000;
    text-decoration: none;
}

.Maps {
    display: block;
    position: relative;
}

.Maps>button>a {
    color: #000000;
    text-decoration: none;
}